.aboutpage-section {
  margin-top: 5rem;
  margin-bottom: 2000px;
}


.aboutpage-hero {
  display: flex;
  padding: 8rem 0;
  align-items: center;
  justify-content: center;
  background-color: var(--default-BgColor);
  background-image: url('../../public/images/aboutPageImages/fish-pie.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 50rem;
  color: white;
}

.aboutpage-hero h1 {
  font-size: 6.4rem;
  text-align: center;
}

/* why us section */
.aboutpage-section .whyUs {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.whyUs-detail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  margin: 0 10%;
}

.whyUs-sub-ctn {
  width: 50%;
  padding: 1rem;
  /* border: 2px solid red; */
}

.whyus-left-container {
  display: flex;
  justify-content: center;
}

.whyus-img-container {
  width: 50rem;
}

.whyus-img-container img {
  width: 100%;
  max-height: 50rem;
}

.whyus-right-container {
  /* border: 2px solid green; */
  width: 80%;
}

.whyus-right-container h6 {
  font-size: 2.2rem;
  color: var(--Orange);
}

.whyus-right-container h3 {
  font-size: 3.6rem;
  color: var(--default-BgColor);
}

.whyus-right-container p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  
}
.text-ctn{
  margin: 1.5rem 0;
}
.why-us-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.why-us-card {
  display: flex;
  align-items: center;
  background-color: rgba(34, 40, 49, 0.913);
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  color: white;
  gap: 1rem;
}

.card-img-ctn {
  width: 10rem;
  height: 10rem;
}

.card-img-ctn img {
  width: 100%;
  height: 100%;
}
/* founder */
.founder-container{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1.5rem 0;
}
.founder-img-ctn{
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 5rem;
  overflow: hidden;
}
.founder-img-ctn img{
  width: 100%;
  height: 100%;
}
.funder-name{
  color: var(--default-BgColor);
}
@media (max-width:1375px) {
  .card-img-ctn {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width:1205px) {
  .aboutpage-hero {
    height: 40rem;
  }
  .whyUs-sub-ctn {
    width: 100%;
  }

  .card-img-ctn {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width:778px) {
  .card-img-ctn {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width:631px) {
  .aboutpage-hero {
    height: 30rem;
  }

  .whyus-right-container {
    /* border: 2px solid green; */
    width: 100%;
  }

  .card-img-ctn {
    width: 8rem;
    height: 8rem;
  }

  .why-us-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}