.customer-review-section{
  padding: 1rem 5%;
}
.customer-review-title{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}


/* Swiper styles */
.swiper-reviews-container {
  width: 100%;
  /* height: 20rem; */
}
.customer-review-slide{
  background: white !important;
  display: flex !important;
  align-items: center !important;
  margin-bottom: 4rem !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--default-BgColor);
}
.swiper-button-prev {
  left: 0 !important;
}
.swiper-button-next {
  right: 0px !important;
}
.swiper-pagination-bullet {
  background-color: var(--default-BgColor);
}
/* end of swiper styles */


.review-card{
  background-color: var(--default-BgColor);
  padding: 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  min-height: 10rem;
  min-width: 20rem;
  margin: 0 10%;
}
.review-card p{
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: white;
}
.review-card .reviewer-name{
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--Orange);
}
.profile-image-container{
  width: 6.5rem;
  height: 6.5rem;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--Orange);
  position: absolute;
  bottom: -2rem;
  right: 1.5rem;
}
.profile-image-container .img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
