:root {
  /* general colors */
  --default-BgColor:rgb(34, 40, 49);
  --text-color: rgb(255, 255, 255);
  --Orange:rgb(255, 190, 51);
  --light-BgColor: rgb(245, 245, 245);

  /*headers section button colors */
  --button-BgColor: rgb(255, 190, 51);


  --primary-fontFamily: "Dancing Script", cursive;
  --text-fontFamily: "Open Sans", sans-serif;
  /* font size */
  --Btn-font: 1rem;
  --text-font: 1rem;
  --logo-font: 2rem;
  --title-font: 5.6rem;
  --subTitle-font: 4rem;
  --pdName-font: 2.4rem;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: Roboto, Arial;
}