.about-section{
  padding: 2rem 10%;
  background-color: var(--default-BgColor);
  color: var(--subTitleText-colore);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}
.about-image-container{
  width: 100%;
  height: 50rem;
}
.about-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}
.about-content-container h2{
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--Orange);
}
.about-content-container p{
  font-size: 1.6rem;
  line-height: 1.5;
  color: white;
}

.more-about-us{
  display: none;
}


.learn-more-btn{
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.6rem;
  color: white;
  background-color: var(--Orange);
  cursor: pointer;
}


@media (max-width: 64rem) {
  
  .about-image-container {
    height: 40rem; /* Reduce image height */
  }
  .about-content-container h2 {
    font-size: 2.5rem; /* Smaller heading */
  }
  .about-content-container p {
    font-size: 1.4rem; /* Smaller paragraph */
  }
  .learn-more-btn {
    font-size: 1.4rem; /* Smaller button */
    padding: 0.7rem 1.5rem;
  }
}

@media (max-width: 48rem) {
  .about-section {
    grid-template-columns: 1fr; /* Stack to single column */
    gap: 1.5rem;
  }
  .about-image-container {
    height: 40rem;
  }
  .about-content-container h2 {
    font-size: 2rem;
  }
  .about-content-container p {
    font-size: 1.5rem;
  }
  .learn-more-btn {
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
  }
}

@media (max-width: 30rem) {
  .about-section {
    padding: 1.5rem 5%; /* Reduce section padding */
  }
  .about-image-container {
    height: 20rem;
  }
  .about-content-container h2 {
    font-size: 1.9rem;
  }
  .about-content-container p {
    font-size: 1.4rem;
  }
  .learn-more-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}