
.menu-btn-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 0.625rem;
}
.menu-btn-container button{
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.6rem;
  color: rgb(34, 40, 49);
}
.menu-select-container{
  display: none;
  justify-content: flex-end;
}
.menu-select{
  background-color: var(--primary-colore);
  padding: 1rem 2rem;
  font-size: 1.66rem;
  color: rgb(34, 40, 49);
  border-radius: 0.5rem;
  border: none;
  background-color: var(--light-BgColor);
}
.menu-select option{
  font-size: 1.6rem;
  padding: 1rem;
  border: none;
}



/* Responsive adjustments */
@media (max-width: 48rem) {
  .menu-btn-container {
    display: none;
  }
  .menu-select-container {
    display: flex;
  }
  .menu-select{
    padding: 0.8rem 1.5rem;
    font-size: 1.4rem;
  }
}