.menu-section{
  padding: 2rem 5%;
}
.menu-title{
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0rem;
  color: var(--subTitleText-colore);
}
.menu-items-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

/* Responsive adjustments */
@media (max-width: 64rem) {
  .menu-items-container {
    grid-template-columns: 1fr 1fr 1fr; 
  }
}

@media (max-width: 48rem) {
  .menu-items-container {
    grid-template-columns: 1fr 1fr; 
  }
}

@media (max-width: 30rem) {
  .menu-items-container {
    grid-template-columns: 1fr; 
  }
}